[Unit]
Description=Wayland clipboard manager with support for multimedia

[Service]
Type=simple
ExecStartPre=/usr/bin/cliphist wipe
ExecStart=/usr/bin/wl-paste --watch cliphist store
Restart=on-failure

[Install]
WantedBy=default.target

# vim:ft=dosini
